.dark-bg {
  background-color: lightgray;
  height: 800px;
}
.dark-bg .Login-card {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.dark-bg .Login-card form .ant-form-item-control-input button {
  margin-right: 15px;
}
